body {
  background-color: #f4f4f4;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  line-height: 1.6em;
  margin: 0;
}

a {
  text-decoration: none;
  color: #86ac41;
}

a:hover {
  color: #86ac41;
}

/* Click event */
a:active {
  color: red;
}

.container {
  width: 80%;
  margin: auto;
}

.clearfix {
  clear: both;
}

.button {
  background-color: #333;
  color: #fff;
  padding: 10px 15px;
  border: none;
}

.button:hover {
  color: #7da3a1;
}

.box-1 {
  border: 5px #34675c solid;
  padding: 20px;
  margin: 20px 0;
  word-spacing: 0.1em;
}

.box-1 h3 {
  font-style: italic;
  font-weight: 800;
  letter-spacing: 0.2em;
}

.box-2 {
  border: 3px dotted #34675c;
  padding: 20px;
  margin: 20px 0;
}

.categories {
  border: 1px solid #34675c;
  padding: 10px;
  border-radius: 15px;
}

.categories ul {
  padding: 0;
  list-style: none;
  /* list-style-image: IMAGE_URL; */
}

.categories li {
  border-bottom: solid 1px #333;
}

.my-form {
  padding: 20px;
}

.my-form .form-group {
  padding-bottom: 15px;
}

/* Breaks line after element */
.my-form label {
  display: block;
}

.my-form input[type='text'],
.my-form textarea {
  padding: 8px;
  width: 100%;
}

.block {
  float: left;
  width: 33.3%;
  border: 1px solid #333;
  padding: 10px;
  box-sizing: border-box;
}

#main-block {
  float: left;
  width: 70%;
}

#sidebar {
  float: right;
  width: 30%;
  padding: 15px;
  box-sizing: border-box;
}
